@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
  background: black;
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

div {
  position: relative;
  width: 83%;
  height: 175px;

}

h1 {
  position: absolute;
  width: 100%;
  height: 50%;
  font-size: 45px;
}

h1:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  line-height: 48px;
  left: 5%;
  top: 50%;
  animation: abomination1 7.5s linear 1;
  animation-fill-mode: forwards;
}

@keyframes abomination1 {
  0% {    content: "H ";  }
  25% {    content: "He ";  }
  50% {    content: "Hel ";  }
  75% {    content: "Hell ";  }
  100% {    content: "Hello ";  }
}
















}
